/.vs
/packages
/EcommerceRV/.vs
/EcommerceRV/bin
/EcommerceRV/obj
/EcommerceRV/logs
/DataAccess/obj
/DataAccess/bin
/Entities/obj
/Entities/bin
/Services/obj
/Services/bin
/Authentication/bin
/Authentication/obj